:root{
	--main-color:#4a3adc;
	--dark-color:#11152a;
	--light-color:#d0d4ed;
}
*
{
	padding: 0;
	margin: 0;
}
*, ::before ::after
{
	box-sizing: border-box;
}
body
{
	
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	color: var(--dark-color);
	background-color: #efefef;
}
h2
{
	font-size: 3em;
	font-weight:400 ;
	line-height: 1.2;
	color: white;
	margin-bottom: 20px;
}
.container
{
	max-width: 1100px;
	margin: 0 auto;
}
.wapper>div 
{
	display: flex;
	flex-direction: column;
	width:100%;
	max-width: 800px;
	min-height: 500px;
	margin: 5em auto;
	background-color:var(--main-color);
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}
:is(.login,.signup) > div{
	position: relative;
	flex: 1 0 50%;
	padding: 60px;
}
a
{
	width:100%;
	text-decoration: none;
}
.content-heading .y-style
{
	display: flex;
	flex-direction: column;
}
.logo a{
	display: inline;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-color);

}
.logo span 
{
	color: #4a3aec;

}
.content-heading p 
{
	color: var(--light-color);
}
.container-form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.welcome
{
	text-align: center;
}
/*hide signup first */
/* .login {
	display: none !important;
} */
form input:not(#terms,#remember)
{
	font-family: inherit;
	width: 100%;
	outline: none;
	margin: 0 0 20px;
	padding: 10px 15px;
	border-radius: 7px;
	border: 1px solid var(--light-color);

}
form input::placeholder{
	color: var(--light-color);
}
form button
{
	background-color: #eb3b52;
	color: white;
	width: 100%;
	margin: 30px 0;
	border: 0;
	line-height: 42px;
	border-radius: 7px;
	font-weight: 70;
	cursor: pointer;
	transition: all .3s ease;
}

button:hover
{
	background-color: var(--dark-color);

}
.afterform{
	text-align: center;
	margin-top: 20px;
}
.form .check
{
	position: relative;
	padding-left: 20px;
	float: left;
}
.form .check input
{
	position: absolute;
	left: 0;
	top: 4px;
}
form .forgot
{
	float: right;
	font-size: 12px;

}
form label a, .afterform a {
	color: var(--main-color);
}
form :is(p, label) a:hover .afterform a:hover
{
	border-radius: 1px dotted;

}
.content-form::before{
	content:"";
	position: absolute;
	width: 200%;
	height: 200%;
	background-color: #fff;
	border-radius: 90%;
	transform: translate3d(-27%, 27% 0);
	-webkit-transform:translate3d(-27%, 27% 0);


	animation:fade-in 0.7s cubic-bezier(0.39, 0.575,0.565,1)both;
	-webkit-animation:fade-in 0.7s cubic-bezier(0.39, 0.575,0.565,1)both;

	
}
.y-style
{
	position: relative;
	transform: translate3d(0 20% 0);
	-webkit-transform: translate3d(0 20% 0);
	animation:fade-in 0.7s cubic-bezier(0.39, 0.575,0.565,1)both;
	-webkit-animation:fade-in 0.7s cubic-bezier(0.39, 0.575,0.565,1)both;
}
@keyframes fade-in{
	form{
		opacity: 0;
		transform: translate3d(0 20% 0);
	}
	t0 {
	opacity: 1;
	}
}
:is(.login-show .signup-show) .y-style{
	transform: translate3d(0,0,0);
}
.login-show .signup .signup-show .login{
	display: none;
}
.signup-show , .signup .login-show .login{
	display: flex;
}

@media screen and (min-width :768px){
	.wappeer>div
	{
		flex-direction: row;
		max-width: 800px;
	}
	.signup .content-heading .y-style{
		height: 100%;
		justify-content: space-between;
	}
	.content-for::before
	{
		transform: translate3d(-18%, 10% 0);
	-webkit-transform:translate3d(-18%, 10% 0);

	}
	.welcome
	{
		text-align: left;
		margin: 5em 0 auto;

	}
}
