h1
{
 color: red;
 padding-top: -5px;
 display: flex;

}
ul
{
    list-style-type: none;
    display: flex;
}
.home
{
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding-top:40px;
    padding-left: 700px;
}


.ff{
    text-align: right;
    display: flex;
    padding-left: 50px;
    padding-top: 40px;
}
body
{
    background-image: url(back.jpg);
    background-size: 100%;

}
.name 
{
    padding-top:20%;
    text-align: center;
    color: white;
    font-size: 100px;
}

.bu
{
    text-align: center;
    margin: 0 auto;   
    background-color: green;
    width: 150px;
    height: 40px;
    border-radius: 10px;

}
a 
{
    color:white;
    text-decoration: none;
}
a:hover
{
    color: red;
    text-align: center;
}
.vu
{
    text-decoration: none;
    color: black;
    width:330%;
    height:40px;
}